{% extends _layout %}

{% block content %}
    {% include '_styles.twig' %}
    {% if (success == false) %}
        <div class="ui middle aligned center aligned grid" id="login-form">
            <div class="column">
                <h2 class="ui teal image header">
                    <i class="redo icon"></i>
                    <div class="content">
                        Создайте новый пароль для {{ email }}
                    </div>
                </h2>
                <form class="ui large form {{ message ? 'error' : '' }}" action="/auth/createPassword" method="post">
                    <input type="hidden" name="password" value="{{ password }}"/>
                    <input type="hidden" name="key" value="{{ email }}"/>
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="new_password" value="" placeholder="Придумайте новый пароль">
                            </div>
                        </div>
                        <input class="ui fluid large teal submit button" type="submit" value="Сохранить"/>
                    </div>

                    <div class="ui error message">{{ message }}</div>
                </form>
            </div>
        </div>
    {% else %}
        Пароль успешно задан!<br>
        Перейдите на <a href="/">главную страницу</a> чтобы продолжить пользоваться проектом.
    {% endif %}
{% endblock %}