{% extends _layout %}

{% block content %}

    <h1>Бюджеты</h1>
    <div class="ui cards">
        {% for budget in budgets %}
            <div class="card">
                <div class="content">
                    <div class="header">{{ budget.name }}</div>
                    {% if budget.created_at %}
                        <div class="meta">Создан {{ budget.created_at | date ('d.m.Y') }}</div>
                    {% endif %}
                    <div class="description">
                        {{ budget.description ? budget.description : '' }}
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <form action="/budgets/select" class="inline">
                                    <input type="hidden" name="budget_id" value="{{ budget.id }}"/>
                                    <button class="ui small button primary" type="submit">Выбрать</button>
                                </form>
                            </div>
                            {% if false %}
                            <div class="field">
                                <form action="/budgets/archive" class="inline">
                                    <input type="hidden" name="budget_id" value="{{ budget.id }}"/>
                                    <button class="ui small button" type="submit">Архивировать</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Создать новый бюджет</h2>
    {% if(message) %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="ui form">
        <form action="/budgets/add" method="post">
            <div class="field">
                <label>Название</label>
                <input type="text" name="name" placeholder="Название"/>
            </div>
            <div class="field">
                <label>Описание</label>
                <input type="text" name="desc" placeholder="Описание"/>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden" id="check-switch" name="switch">
                    <label for="check-switch">Сразу переключиться на этот бюджет</label>
                </div>
            </div>
            <button class="ui button" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}