{% if(message) %}
    <div class="ui success message">
        {{ message }}
    </div>
{% endif %}

<div class="ui form">
    <form action="/balances/{{ action }}" method="post">
        <input type="hidden" name="id" value="{{ balance.id }}"/>
        <div class="field">
            <label>Название</label>
            <input type="text" name="name" placeholder="Название" value="{{ balance.name }}"/>
        </div>
        <div class="field">
            <label for="type">Тип</label>
            <select name="type" id="type" class="ui dropdown">
                {% for balanceTypeId, balanceTypeName  in balanceTypes %}
                    <option value="{{ balanceTypeId }}" {{ balanceTypeId == balance.type ? 'selected' : '' }} >{{ balanceTypeName }}</option>
                {% endfor %}
            </select>
        </div>
        {% if action == 'add' %}
            <button class="ui button" type="submit">Создать счет</button>
        {% else %}
            <div class="field">
                <label for="status">Статус</label>
                <select name="status" id="status" class="ui dropdown">
                    {% for balanceStatusId, balanceStatusName  in balanceStatuses %}
                        <option value="{{ balanceStatusId }}" {{ balanceStatusId == balance.status ? 'selected' : '' }} >{{ balanceStatusName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="ui button" type="submit">Обновить счет</button>
        {% endif %}
    </form>
</div>