{% extends _layout %}

{% block content %}

    <h1>Счета</h1>
    {% if(message) %}
        <div class="ui success message">
            {{ message }}
        </div>
        <p></p>
    {% endif %}

    <div class="ui cards">
        {% for balance in balances %}
            <div class="card">
                <div class="content">
                    <div class="header"><a href="/balances/show?id={{ balance.id }}" >{{ balance.name }}</a></div>
                    <div class="meta">{{ balanceTypes[balance.type] }}</div>
                    <div class="description">
                        В наличии <b>{{ balance.amount | number_format(2, '.', ' ') }}</b>
                    </div>
                </div>
                <div class="extra content">
                    <a href="/balances/delete?id={{ balance.id }}" class="ui small button">Удалить счет</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Создать счет</h2>
    <div class="ui form">
        <form action="/balances/add" method="post">
            <div class="field">
                <label>Название</label>
                <input type="text" name="name" placeholder="Название"/>
            </div>
            <div class="field">
                <label for="type">Тип</label>
                <select name="type" id="type" class="ui dropdown">
                    {% for balanceTypeId, balanceTypeName  in balanceTypes %}
                        <option value="{{ balanceTypeId }}">{{ balanceTypeName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="ui button" type="submit">Создать счет</button>
        </form>
    </div>

    
{% endblock %}