{% extends _layout %}

{% block content %}

    <h1>Счета</h1>

    {% for type, balances in balancesByTypes %}
        {% if(balances) %}
            <h2>{{ balanceTypes[type] }}</h2>
            <div class="ui cards">
            {% for balance in balances %}
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="/balances/show?id={{ balance.id }}" >{{ balance.name }}</a></div>
                        {#<div class="meta">{{ balanceTypes[balance.type] }}</div>#}
                        <div class="description">
                            <b>{{ balance.amount | number_format(2, '.', ' ') }}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    <h2>Создать счет</h2>
    {% include '_balanceForm.twig' with { action : 'add' } %}
    
{% endblock %}