{% extends _layout %}

{% block content %}
    <p><a href="/balances">&larr; Все счета</a></p>
    <h1><a href="/balances/show?id={{ balance.id }}">{{ balance.name }}</a></h1>
    <div class="ui stackable two column grid">
        <div class="stretched row">
            <div class="column">
                <div class="ui segment">
                    Баланс: <b>{{ balance.amount }}</b><br>
                    Тип счета: {{ balanceTypes[balance.type] }}
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <a href="/balances/archive?id={{ balance.id }}">Архивировать счет</a>
                </div>
            </div>
        </div>
    </div>

    {% if(message) %}
        <div class="ui success message">
            {{ message }}
        </div>
        <p></p>
    {% endif %}

    <h2>Добавить внесение</h2>
    <div class="ui form">
        <form action="/balances/addTransaction" method="post">
            <input type="hidden" name="balance_to_id" value="{{ balance.id }}"/>
            <div class="field">
                <label>В связи с чем?</label>
                <input type="text" name="description" placeholder="Описание" value="{{ bind.description }}"/>
            </div>
            <div class="field">
                <label>Сколько?</label>
                <input type="text" name="amount" placeholder="Количество" value="{{ bind.amount }}"/>
            </div>
            {#<div class="field">#}
            {#<label>Когда?</label>#}
            {#<input type="date" name="date" placeholder="Дата" value="{{ bind.date }}"/>#}
            {#</div>#}
            <div class="field">
                <label for="type">Со счета</label>
                <select name="balance_from_id" id="type" class="ui dropdown search">
                    <option value="">Из космоса</option>
                    {% for globalBalance  in allBalances %}
                        {% if(globalBalance.id != balance.id) %}
                            <option value="{{ globalBalance.id }}">{{ globalBalance.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button class="ui button" type="submit">Добавить</button>
        </form>
    </div>

    <h2>Транзакции</h2>
    {% include "_transactionsCards.twig" %}

{% endblock %}