<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css" media="all"/>
    {#<link rel="stylesheet" type="text/css" href="/semantic/components/icon.min.css" media="all"/>#}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
</head>
<body>
    <div id="content">
        <div id="content-pad">
            <div class="ui secondary pointing stackable menu">
                {% for pageName, url in _pages %}
                    {% if (url == _currentPage ) %}
                        <a href="{{ url }}" class="item active">{{ pageName }}</a>
                    {% else %}
                        <a href="{{ url }}" class="item">{{ pageName }}</a>
                    {% endif %}
                {% endfor %}
                
                <div class="right menu">
                    <span class="item" style="float: right;">{{ _user.name }} {{ _budget ? '(' ~ _budget.name ~ ')' : '' }}</span>
                    <a class="ui item" href="/auth/logout">
                        Выйти
                    </a>
                </div>
            </div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>