{% extends _layout %}

{% block content %}
    <h1>Цели и средства на {{ month | date('F') }} {{ year }}</h1>

    <div class="ui cards">
        {% for date, day in daysPlans %}
            <div class="card">
                <div class="content">
                    <div class="header">{{ date | date('d M') }}</div>
                    <div class="meta">
                        Баланс для {{ day.balance }}
                    </div>
                </div>
                {% if day.plans is not empty %}
                    {% set plans = day.plans %}
                    <div class="content">
                        <div class="ui small feed">
                            {% for plan in plans %}
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a href="/plans/?id={{ plan.id }}">{{ plan.name }}</a> {{ plan.amount }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="extra content">
                    <div class="meta">
                        Приход {{ day.increase }}, Расход {{ day.decrease }}
                    </div>
                    {% if false %}
                        <div class="ui two buttons">
                            <div class="ui basic green button">Approve</div>
                            <div class="ui basic red button">Decline</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}