{% extends _layout %}

{% block content %}

    <h1>Запланировать</h1>
    {% if(message) %}
        <div class="ui success message">
            {{ message }}
        </div>
        <p></p>
    {% endif %}
    <div class="ui form">
        <form action="/plans/add" method="post">
            <div class="field">
                <label>Что?</label>
                <input type="text" name="name" placeholder="Что планируем?"/>
            </div>
            <div class="field">
                <label>Когда?</label>
                <input type="date" name="date" placeholder="Когда?" value="{{ date | date('d.m.Y') }}"/>
            </div>
            <div class="field">
                <label>Сколько?</label>
                <input type="number" name="amount" placeholder="Сколько денег"/>
            </div>
            <button class="ui button" type="submit">Добавить план</button>
        </form>
    </div>

    <h1>Планы </h1>
    <div class="ui cards">
        {% for suggestion in suggestions %}
        <div class="card">
            <div class="content">
                <div class="header">{{ suggestion.name }}</div>
                <div class="meta">{{ suggestion.date | date('d M') }}</div>
                <div class="description">
                    {{ suggestion.amount }}
                </div>
            </div>
            <div class="extra content">
                <a href="/plans/delete?id={{ suggestion.id }}" class="ui small button">удалить</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}