{% extends _layout %}

{% block content %}

    <h1>Запланировать</h1>
    {% include "_edit.twig" with { 'balances' : balances , 'action' : 'add' } %}

    <h1>Планы </h1>
    <div class="ui cards">
        {% for plan in plans %}
            <div class="card">
                <div class="content">
                    <div class="header"><a href="/plans/show?id={{ plan.id }}">{{ plan.name }}</a></div>
                    <div class="meta">
                        {% if (plan.balance_from) %}
                            <a href="/balances/show?id={{ plan.balance_from }}" style="margin: 0">{{
                                balances[plan.balance_from]
                                ? balances[plan.balance_from].name
                                : plan.balance_from
                                }}</a>
                        {% else %}
                            <span style="margin: 0">Откуда нибудь</span>
                        {% endif %}
                        &rarr;
                        {% if (plan.balance_to) %}
                        <a href="/balances/show?id={{ plan.balance_to }}">{{
                            balances[plan.balance_to]
                            ? balances[plan.balance_to].name
                            : (plan.balance_to ?: "В Космос?")
                            }}</a>
                        {% else %}
                            <span>Куда нибудь</span>
                        {% endif %}
                    </div>
                    <div class="meta">{{ plan.date | date('d.m.Y', user.timezone) }}</div>
                    <div class="description">
                        {{ plan.amount | number_format(2, '.', ' ')  }}
                    </div>
                </div>
                <div class="extra content">
                    <a href="/plans/show?id={{ plan.id }}" class="ui button">Посмотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}