{% extends _layout %}

{% block content %}
    <p><a href="/plans">&larr; Все планы</a></p>
    <h1 class="ui header">
        {{ plan.name }}
        <div class="sub header">{{ plan.date | date('d.m.Y', user.timezone) }}</div>
    </h1>
    <p>
        {{ plan.amount | number_format(2, '.', ' ') }}
        <br>
        {% if (plan.balance_from) %}
            <a href="/balances/show?id={{ plan.balance_from }}"
               style="margin: 0">{{ balances[plan.balance_from]
                ? balances[plan.balance_from].name
                : plan.balance_from }}</a>
        {% else %}
            <span style="margin: 0">Откуда нибудь</span>
        {% endif %}
        &rarr;
        {% if (plan.balance_to) %}
            <a href="/balances/show?id={{ plan.balance_to }}">{{ balances[plan.balance_to]
                ? balances[plan.balance_to].name
                : (plan.balance_to ?: "В Космос?") }}</a>
        {% else %}
            <span>Куда нибудь</span>
        {% endif %}
    </p>
    <p>
        <a href="/plans/edit?id={{ plan.id }}" class="ui button">изменить</a>
        <a href="/plans/delete?id={{ plan.id }}" class="ui button">удалить</a>
    </p>
{% endblock %}